@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    margin: 0;
    padding: 0;
    background: black;
    background-image: radial-gradient(ellipse 80% 80% at 50% 0%, #7D1AED -10%, #1B1543 40%, black 100%);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    min-height: 100vh;
    overflow-x: hidden;
}

#root {
    background-color: transparent;
}

.star {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    animation: twinkle 10s infinite;
    transition: transform 0.3s ease-out;
}

@keyframes twinkle {
    0% {
        opacity: 0.2;
        transform: scale(0.8);
    }

    50% {
        opacity: 1;
        transform: scale(1.2);
    }

    100% {
        opacity: 0.2;
        transform: scale(0.8);
    }
}