--extra-index-url https://download.pytorch.org/whl/cpu
torch[cpu]
sqlalchemy
psycopg2-binary
pydantic-settings
tqdm
neo4j
sentence-transformers
numpy
uvicorn
celery
redis
fastapi
alembic
asyncpg
httpx
scikit-learn
google-genai
eventlet==0.40.2
pgvector==0.4.1